@import "tailwindcss";
:root {
  /* Primary */
  --color-primary: #161e54;
  --color-primary-hover: #0f163f;

  /* Secondary */
  --color-secondary: #f16d34;
  --color-secondary-hover: #d85f2e;

  /* Background & Text */
  --color-background: #bbe0ef;
  --color-text: #161e54;

  /* Accent */
  --color-accent: #ff986a;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1f1811;
}

::-webkit-scrollbar-thumb {
  background: #e8491d;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Loading Animations */
@keyframes sineWave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(3px);
  }
}

.sine-dot {
  animation: sineWave 1.2s ease-in-out infinite;
}
