@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Stack+Sans+Text:wght@200..700&display=swap");
* {
  padding: 0;
  margin: 0;
  background-color: white;
  /* font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; */

  font-family: Roboto, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
#navBar {
  position: sticky;
  top: 0;
  border: 2px solid red;
  padding: 20px;
  font-size: x-large;
  display: flex;
  justify-content: space-between;

  #middleCol {
    padding-top: 15px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    font-family: "Lora", serif;
    font-size: 900;
    font-style: normal;
    cursor: pointer;
  }
  #leftCol {
    padding-top: 15px;
    font-size: xx-large;
    font-weight: bolder;
  }
  #signButton {
    border: 0;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: large;
    cursor: pointer;
  }
  #signButton:hover {
    background-color: rgb(220, 223, 233);
  }
  #blockButton {
    border: 0;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: large;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
  }
}
#content {
  width: auto;
  padding: 50px;
  display: flex;
  gap: 150px;
  justify-content: space-between;

  #welcomeContent {
    padding: 50px auto;
    margin: 200px auto;
    font-size: xx-large;
    h4 {
      padding: 20px auto;
      margin: 50px auto;
      color: grey;
    }
    #emailText {
      margin-bottom: 20px;
      font-size: x-large;
    }
    #emailBox {
      input {
        padding: 15px 150px 15px 10px;
        margin-right: 10px;
        border: 2px solid #000;
        border-radius: 10px;
        font-size: x-large;
      }
      button {
        padding: 20px 80px;
        border: 3px #000;
        margin-left: 10px;
        font-size: large;
        border-radius: 10px;
        background-color: #000;
        color: white;
      }
    }
    #termCondition {
      margin-top: 20px;
      font-size: 23px;
      color: grey;
      span {
        border-bottom: 2px solid #000;
      }
    }
  }
  #imageContent {
    img {
      margin-top: 50px;
      width: 800px;
      height: 800px;
      border-radius: 50px;
    }
  }
}
#clients {
  margin: 30px auto;
  padding: 30px auto;
  #myClients {
    text-align: center;
    font-size: 30px;
  }
  img {
    margin: 30px 430px 30px 430px;
    width: max-content;
  }
}
#skills {
  margin-top: 50px;
  text-align: center;
  #mySkills {
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  h1 {
    padding: 10px;
    margin: 10px;
    font-size: 75px;
    font-weight: bold;
  }
  p {
    margin: 50px 150px;
    font-size: xx-large;
    font-weight: bold;
    color: gray;
  }
}
#skillTop {
  text-align: center;
  margin: 100px;
  display: flex;
  gap: 100px;
  flex-direction: row;
}
#skillBottom {
  text-align: center;
  margin: 100px;
  display: flex;
  gap: 100px;
  flex-direction: row;
}
.skillClass {
  img {
    border-radius: 50%;
  }
  .textHeader {
    font-size: 13px;
    margin: 20px;
  }
  .textDetail {
    margin: 20px;
    font-size: 20px;
    color: gray;
  }
}
#project {
  text-align: center;
  #projectHeader {
    font-size: 30px;
    font-weight: bolder;
  }
  #projectDetail {
    padding: 10px 100px;
    margin: 30px 450px;
    font-size: 30px;
    color: gray;
  }
}
#projectTop {
  display: flex;
  justify-content: space-between;
}
#projectBottom {
  display: flex;
  justify-content: space-between;
}
.projectClass {
  img {
    border-radius: 15px;
  }
  .projectName {
    font-size: 13px;
    margin: 20px;
  }
  .projectDescription {
    margin: 20px;
    font-size: 20px;
    color: gray;
  }
}
