.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-pink{
    background-color: violet;
}
.bg-green{
    background-color: greenyellow;
}
