.superDiv{
    
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: aqua;
}
#mainDiv{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.subDiv{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-color: beige;
}