#d1,#d2{
    width: 500px;
    height: 100px;
    border: 5px solid black;
    font-size: 50px;
    padding: 50px;
    margin-top: 20px;
}
#d3{
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    margin: 20px 40px 60px 80px;
    box-shadow: -10px -10px 5px 5px red;
}